@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #edf2f6!important;
}

.btn_theme {
    padding : 10px 40px;
    background-color: #268DC1;
    border: none;
    color: white;
    border: 1.5px solid #268DC1;
    transition: ease-in 0.2s all;
}

.btn_back {
    padding : 10px 40px;
    background-color: #e2d34c;
    border: none;
    color: white;
    border: 1.5px solid #e2d34c;
    transition: ease-in 0.2s all;
}

.btn_back:hover {
    color: #e2d34c;
    background-color: white;
}

.btn_theme:hover {
    color: #268DC1;
    background-color: white;
}

a {
    text-decoration: none;
}

input{
    border : none!important;
    border-bottom: 1.5px solid rgb(198, 198, 198)!important;
    outline: none!important;
    border-radius: 0%!important;
    padding: 0!important;
}

.form-control:focus {
    box-shadow: none!important;
}

a:hover {
    text-decoration: none;
}

.app_bar {
    background-color: #ffe511;
    padding: 20px 0px;
}


.app_bar h4 {
    letter-spacing: -0.6px;
}


.bottom_bar {
    position: fixed;
    background-color: white;
    z-index: 999999;
    bottom: 0;
    width: 100%;
    margin-top : 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom_bar a i {
    padding: 20px 0;
    color: black;
}

.logo {
    color: #008cc1;
    font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.side_nav {
    width: 67vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    padding: 20px;
    display: none;
}

/* @keyframes fade_in_show {
    0% {
        width: 0vw;
    }

    100% {
        width: 67vw;
    }
} */

.profile_img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.side_nav a {
    color: black;
}

.features {
    border-radius: 8px;
}


.features img {
    width: 30px;
}

.user_home .user_info {
    position: relative;
}

/* .user_home .ps-show-hide{
    position: absolute;
    right: 26px;
    color: rgb(159, 159, 159);
    top: 34px;
    cursor: pointer;

} */

#toggle_btn {
    color: rgb(159, 159, 159);
    cursor: pointer;
}

.eng_letter {
    margin-top: 3px;
}

hr {
    margin: 10px 0;
}

.user_info a{
    color: black;
    cursor: pointer;
}

.preview_img img{
    margin: 20px 3px 20px;
    width: 150px;
    padding: 3px;
    background: #eee;
}

[type="file"] {
    color: #878787;
}
[type="file"]::-webkit-file-upload-button {
    background: #268DC1;
    border: 0px solid #268DC1;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 1s ease;
}


/* mobile responsive */
@media screen and (max-width : 740px) {
    .features .feature {
        width: 79px;
    }

    .features .feature {
        text-align: center;
    }

    .features .feature:nth-child(1) {
        padding-left: 10px;
        width: 90px;
    }

    .features .feature:nth-child(2) {
        padding-right: 27px;
        width: 90px;
    }
    
    .features .feature:not(:last-child) {
        border-right: 1px solid #ddd;
    }

    .features {
        position: absolute;
        margin: 10px;
        top: -90px;
        left: 0;
        right: 0;
    }
}
