body {
    font-family: 'Poppins', sans-serif;
}

.main_content_header {
    padding-bottom: 0px!important;
}

footer {
    position: fixed;
    background-color: black;
    bottom: 0;
}

@media screen and (max-width : 740px) {
    .navbar-expand .navbar-collapse {
       padding-left: 20px;
       padding-right: 20px;
    }
}
